In [1]:
import pandas as pd 
import numpy as np
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import HistGradientBoostingClassifier

import catboost as cb
import ngboost as nb 
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
import lightgbm as lgb
from sklearn.ensemble import StackingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.svm import LinearSVC, SVC
from sklearn.naive_bayes import GaussianNB

In [2]:
lgb.__version__

'3.3.3'

In [3]:
import xgboost
xgboost.__version__

'1.6.2'

In [4]:
import sklearn
sklearn.__version__

'1.1.3'

In [5]:
import catboost
catboost.__version__

'1.1.1'

In [6]:
pd.__version__

'1.5.2'

In [7]:
np.__version__

'1.23.5'

In [8]:
#ccba
ccba_public = pd.read_csv(r'E:\Desktop\玉山\訓練資料集_first\public_train_x_ccba_full_hashed.csv')
#cdtx
cdtx_public = pd.read_csv(r'E:\Desktop\玉山\訓練資料集_first\public_train_x_cdtx0001_full_hashed.csv')
#custinfo
custinfo_public = pd.read_csv(r'E:\Desktop\玉山\訓練資料集_first\public_train_x_custinfo_full_hashed.csv')
#dp
dp_public = pd.read_csv(r'E:\Desktop\玉山\訓練資料集_first\public_train_x_dp_full_hashed.csv')
#remit
remit_public = pd.read_csv(r'E:\Desktop\玉山\訓練資料集_first\public_train_x_remit1_full_hashed.csv')
#train_alert_time
train_alert_time_public = pd.read_csv(r'E:\Desktop\玉山\訓練資料集_first\train_x_alert_date.csv')
#predict_alert_time
predict_alert_time_public = pd.read_csv(r'E:\Desktop\玉山\訓練資料集_first\public_x_alert_date.csv')
#y
y_public = pd.read_csv(r'E:\Desktop\玉山\訓練資料集_first\train_y_answer.csv')
#案件名單
doc = pd.read_csv(r'E:\Desktop\玉山\訓練資料集_first\預測的案件名單及提交檔案範例.csv')
answer_public = pd.read_csv(r'E:\Desktop\玉山\訓練資料集_first\24_ESun_public_y_answer.csv')

In [9]:
#ccba
ccba_private = pd.read_csv(r'E:\Desktop\玉山\訓練資料集_private\private_x_ccba_full_hashed.csv')
#cdtx
cdtx_private = pd.read_csv(r'E:\Desktop\玉山\訓練資料集_private\private_x_cdtx0001_full_hashed.csv')
#custinfo
custinfo_private = pd.read_csv(r'E:\Desktop\玉山\訓練資料集_private\private_x_custinfo_full_hashed.csv')
#dp
dp_private = pd.read_csv(r'E:\Desktop\玉山\訓練資料集_private\private_x_dp_full_hashed.csv')
#remit
remit_private = pd.read_csv(r'E:\Desktop\玉山\訓練資料集_private\private_x_remit1_full_hashed.csv')
#train_alert_time
train_alert_time_private = pd.read_csv(r'E:\Desktop\玉山\訓練資料集_private\private_x_alert_date.csv')

In [10]:
custinfo = custinfo_public.append(custinfo_private)
dp = dp_public.append(dp_private)

C:\Users\rocker\AppData\Local\Temp\ipykernel_16432\1790772489.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  custinfo = custinfo_public.append(custinfo_private)
C:\Users\rocker\AppData\Local\Temp\ipykernel_16432\1790772489.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dp = dp_public.append(dp_private)

In [11]:
custinfo

,alert_key,cust_id,risk_rank,occupation_code,total_asset,AGE
0,352249,82595ac69158ae08d34156784bdec0d9e2ca5b242b6d2a...,1,19.0,1465816.0,7
1,352253,b212d14cb35676926682b2cf849e295d948888f556c07e...,1,2.0,98177.0,2
2,352254,e5b0002791c7852644a2730abeaa893cdf14a072ef7812...,1,19.0,2052922.0,7
3,352280,74214c478dc6519fbefe4bc31693865bdcd698ab974b64...,3,15.0,201906.0,5
4,352282,0340e7611f0d82c3cb87e6194fa14bb2ccf8afbf1b3418...,1,12.0,7450.0,5
...,...,...,...,...,...,...
2000,378414,8219a35b62898b6da983fb2a15c8b714614c6bbb69efd6...,3,13.0,304.0,2
2001,378419,4270ec5f17593a85ed237cb562788bcac84bae26bb2654...,1,9.0,61516.0,3
2002,378426,4e61df8213c8d5614703c97f909dedaeb3214a3e8eb8f7...,1,15.0,2942898.0,3
2003,378427,937525790c682522a07fe0ad1067826c1ef0c21cf76ed8...,1,19.0,46482.0,2
2004,378428,33e5c111ee0e4e8a73181c2738402bc465222ff02b8ed4...,1,19.0,9138.0,2

In [12]:
dp

,cust_id,debit_credit,tx_date,tx_time,tx_type,tx_amt,exchg_rate,info_asset_code,fiscTxId,txbranch,cross_bank,ATM
0,0172056578071e83399216fcd640bdc4de4583149d0fd9...,CR,36,18,2,68265.0,1.0,16,NaN,NaN,0,0
1,0172056578071e83399216fcd640bdc4de4583149d0fd9...,CR,42,17,2,932058.0,1.0,16,NaN,NaN,0,0
2,0172056578071e83399216fcd640bdc4de4583149d0fd9...,CR,39,18,2,6089.0,1.0,16,NaN,NaN,0,0
3,0172056578071e83399216fcd640bdc4de4583149d0fd9...,CR,49,15,2,776715.0,1.0,16,NaN,NaN,0,0
4,0172056578071e83399216fcd640bdc4de4583149d0fd9...,CR,70,19,2,61630.0,1.0,16,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45066,ffb6411051b1d6455844d4c2b21d352df6cc735a882e79...,DB,413,14,2,1031.0,1.0,16,NaN,NaN,0,0
45067,ffb6411051b1d6455844d4c2b21d352df6cc735a882e79...,DB,413,14,2,1031.0,1.0,16,NaN,NaN,0,0
45068,ffb6411051b1d6455844d4c2b21d352df6cc735a882e79...,DB,412,9,2,515.0,1.0,13,4.0,0.0,0,1
45069,ffb6411051b1d6455844d4c2b21d352df6cc735a882e79...,DB,411,13,2,40.0,1.0,13,4.0,0.0,0,1
45070,ffb6411051b1d6455844d4c2b21d352df6cc735a882e79...,DB,412,9,2,1031.0,1.0,13,4.0,0.0,0,1

In [13]:
train_alert_time = train_alert_time_public.append(predict_alert_time_public)#.append(train_alert_time_private)
y = y_public.append(answer_public)
predict_alert_time = train_alert_time_private.copy()

C:\Users\rocker\AppData\Local\Temp\ipykernel_16432\1498476678.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_alert_time = train_alert_time_public.append(predict_alert_time_public)#.append(train_alert_time_private)
C:\Users\rocker\AppData\Local\Temp\ipykernel_16432\1498476678.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  y = y_public.append(answer_public)

In [14]:
# answer = y_public[y.alert_key.isin(predict_alert_time.alert_key)].reset_index(drop=True)
y = y[~y.alert_key.isin(predict_alert_time.alert_key)].reset_index(drop=True)

In [15]:
y

       alert_key  sar_flag
0         171189         0
1         171202         0
2         171599         0
3         171737         0
4         171142         0
...          ...       ...
25746     364472         0
25747     364788         0
25748     364673         0
25749     364626         0
25750     364986         0

[25751 rows x 2 columns]

In [16]:
#prev_list set to 0 before submission
doc_merged = custinfo.merge(doc, on='alert_key', how='right').merge(predict_alert_time, on='alert_key', how='left')
doc_merged = doc_merged[~doc_merged['cust_id'].isnull()]
max_doc = doc_merged.groupby('cust_id')['date'].max().reset_index()
max_doc.rename(columns={'date':'max_date'},inplace=True)
doc_merged = doc_merged.merge(max_doc, on='cust_id', how='left')
prev_list = doc_merged[doc_merged['max_date']>doc_merged['date']]['alert_key'].tolist()

In [17]:
def train_alert_process_func(data, custinfo, train_alert_time, predict_alert_time):
  alert_data = data[data['cust_id'].isin(custinfo[custinfo['alert_key'].isin(predict_alert_time['alert_key'].tolist())]['cust_id'].tolist())]
  train_data = data[data['cust_id'].isin(custinfo[custinfo['alert_key'].isin(train_alert_time['alert_key'].tolist())]['cust_id'].tolist())]
  train_data['y'] = 0
  sar_idx = train_data[train_data['cust_id'].isin(custinfo[custinfo['alert_key'].isin(y[y['sar_flag']==1]['alert_key'].tolist())]['cust_id'].tolist())].index
  train_data.loc[sar_idx, 'y'] = 1
  return train_data, alert_data

In [18]:
#Data Cleansing
#SAR戶僅留前X天
def train_prev_d(x, day):
  prev_d = x.groupby('cust_id')['tx_date'].max() - day
  prev_d = prev_d.reset_index()
  prev_d.rename(columns={'tx_date':'prev_d'}, inplace=True)
  x = x.merge(prev_d, on='cust_id', how='left')
  x.drop(x[x['tx_date']<x['prev_d']].index,inplace=True)
  x.pop('prev_d')
  return x
#特徵前處理
def preprocess(data):
  dict1 = {}
  idx = 0
  num = 0
  for i in range(0,426,1):
    dict1[i] = str(idx)
    num += 1
    if num == 7:
      idx += 1
      num = 0
  data['tx_date_group'] = data.tx_date.map(lambda x: dict1[x])
  data['session_cust_id'] = data.tx_date_group + data.cust_id
  data['date_cust_id'] = data.tx_date.astype(str) + data.cust_id
  data['date_time_cust_id'] = data.tx_date.astype(str) + data.tx_date.astype(str) + data.cust_id
  data['tx_year'] = 2021
  data['tx_date_formal'] = data['tx_date']+1
  data.loc[data[data['tx_date_formal']>365].index,'tx_year'] = 2022
  data.loc[data[data['tx_date_formal']>365].index, 'tx_date_formal'] = \
  data.loc[data[data['tx_date_formal']>365].index, 'tx_date_formal'] -365
  data["tx_date_formal"] = data["tx_year"]*1000 + data["tx_date_formal"]
  data['tx_date_formal'] = pd.to_datetime(data['tx_date_formal'], format="%Y%j")
  return data

In [19]:
def cdtx_feature_func(data):
  ##(t-1)d diff
  #data['prev_d_diff'] = data['trans_date'] - data.groupby('cust_id')['trans_date'].shift(1)
  #data['prev_d_diff'].fillna(15, inplace=True)
  #amt
  all_amt_sum = (data.groupby('cust_id')['amt'].sum()/data.groupby('cust_id')['amt'].sum().max())\
              .rename('all_amt_sum').reset_index()
  data = data.merge(all_amt_sum, on='cust_id', how='left')
  date_amt_sum = (data.groupby(['cust_id','date'])['amt'].sum()/data.groupby(['cust_id','date'])['amt'].sum().max())\
              .rename('date_amt_sum').reset_index()
  data = data.merge(date_amt_sum, on=['cust_id','date'], how='left')
  #txn_cnt
  all_txn_cnt = data.groupby('cust_id')['date'].count().rename('cdtx_all_txn_cnt').reset_index()
  data = data.merge(all_txn_cnt, on='cust_id', how='left')
  data['cdtx_all_txn_cnt'].fillna(0, inplace=True)
  date_txn_cnt = data.groupby(['cust_id','date'])['amt'].count().rename('date_txn_cnt').reset_index()
  data = data.merge(date_txn_cnt, on=['cust_id','date'], how='left')
  #country
  all_country_cnt = data.groupby('cust_id')['country'].count().rename('cdtx_all_country_cnt').reset_index()
  data = data.merge(all_country_cnt, on='cust_id', how='left')
  data['cdtx_all_country_cnt'].fillna(0, inplace=True)
  date_country_cnt = data.groupby(['cust_id','date'])['country'].count().rename('date_country_cnt').reset_index()
  data = data.merge(date_country_cnt, on=['cust_id','date'], how='left')
  #cur_type
  all_cur_type_cnt = data.groupby('cust_id')['cur_type'].count().rename('cdtx_all_cur_type_cnt').reset_index()
  data = data.merge(all_cur_type_cnt, on='cust_id', how='left')
  data['cdtx_all_cur_type_cnt'].fillna(0, inplace=True)
  date_cur_type_cnt = data.groupby(['cust_id','date'])['cur_type'].count().rename('date_cur_type_cnt').reset_index()
  data = data.merge(date_cur_type_cnt, on=['cust_id','date'], how='left')
  #max_min_date_diff
  max_min_date_diff = data.groupby(['cust_id']).apply(lambda x: x['date'].max() - x['date'].min()).rename('max_min_date_diff').reset_index()
  data = data.merge(max_min_date_diff, on='cust_id', how='left')
  return data

In [20]:
def remit_feature_func(data):
  ##(t-1)d diff
  #data['prev_d_diff'] = data['trans_date'] - data.groupby('cust_id')['trans_date'].shift(1)
  #data['prev_d_diff'].fillna(15, inplace=True)
  #amt
  all_amt_sum = (data.groupby('cust_id')['trade_amount_usd'].sum()/data.groupby('cust_id')['trade_amount_usd'].sum().max())\
              .rename('all_amt_sum').reset_index()
  data = data.merge(all_amt_sum, on='cust_id', how='left')
  time_amt_sum = (data.groupby(['cust_id','trans_date'])['trade_amount_usd'].sum()/data.groupby(['cust_id','trans_date'])['trade_amount_usd'].sum().max())\
              .rename('time_amt_sum').reset_index()
  data = data.merge(time_amt_sum, on=['cust_id','trans_date'], how='left')
  data['trans_date'] = data['trans_date']/data['trans_date'].max()
  #txn_cnt
  all_txn_cnt = data.groupby('cust_id')['trans_date'].count().rename('remit_all_txn_cnt').reset_index()
  data = data.merge(all_txn_cnt, on='cust_id', how='left')
  data['remit_all_txn_cnt'].fillna(0, inplace=True)
  date_txn_cnt = data.groupby(['cust_id','trans_date'])['trans_no'].count().rename('date_txn_cnt').reset_index()
  data = data.merge(date_txn_cnt, on=['cust_id','trans_date'], how='left')
  #max_min_date_diff
  max_min_date_diff = data.groupby(['cust_id']).apply(lambda x: x['trans_date'].max() - x['trans_date'].min()).rename('max_min_date_diff').reset_index()
  data = data.merge(max_min_date_diff, on='cust_id', how='left')
  remit_pivot = data.groupby(['cust_id','trans_date','trans_no'])['trade_amount_usd'].sum().reset_index().pivot_table(index=['cust_id','trans_date'],columns='trans_no',values='trade_amount_usd').reset_index()
  remit_pivot.fillna(0, inplace=True)
  remit_col = list(remit_pivot.columns)
  remit_col.remove('cust_id')
  remit_col.remove('trans_date')
  remit_pivot['remit_txn_sum'] = remit_pivot[remit_col].sum(axis=1)
  for col in remit_col:
    remit_pivot[col] = remit_pivot[col]/remit_pivot['remit_txn_sum']
  for col in list(set([num for num in range(0,5,1)]) -  set(remit_pivot.columns[2:])):
    remit_pivot[col] = 0.0
  remit_pivot.rename(columns={0:'remit_trans_no_0',1:'remit_trans_no_1',2:'remit_trans_no_2',3:'remit_trans_no_3',4:'remit_trans_no_4'}, inplace=True)
  remit_pivot.fillna(0, inplace=True)
  data = data.merge(remit_pivot, on=['cust_id', 'trans_date'], how='left')
  return data

In [21]:
#session 交易差額比率
def dp_feature_func(data):
  session_amt_diff = data.groupby(['session_cust_id','debit_credit'])['tx_amt'].sum().reset_index()
  session_amt_diff = pd.pivot_table(session_amt_diff, index='session_cust_id', columns='debit_credit', values='tx_amt')
  session_amt_diff.fillna(1, inplace=True)
  session_amt_diff['session_amt_diff_ratio'] = \
    abs(session_amt_diff['CR'] - session_amt_diff['DB']) / abs(session_amt_diff['CR'] + session_amt_diff['DB'])
  session_amt_diff = session_amt_diff.reset_index()[['session_cust_id','session_amt_diff_ratio']]
  data = data.merge(session_amt_diff, on='session_cust_id', how='left')
  #當日 交易差額比率
  date_amt_diff = data.groupby(['date_cust_id','debit_credit'])['tx_amt'].sum().reset_index()
  date_amt_diff = pd.pivot_table(date_amt_diff, index='date_cust_id', columns='debit_credit', values='tx_amt')
  date_amt_diff.fillna(1, inplace=True)
  date_amt_diff['date_amt_diff_ratio'] = \
  abs(date_amt_diff['CR'] - date_amt_diff['DB']) / abs(date_amt_diff['CR'] + date_amt_diff['DB'])
  date_amt_diff = date_amt_diff.reset_index()[['date_cust_id','date_amt_diff_ratio']]
  data = data.merge(date_amt_diff, on=['date_cust_id'], how='left')
  #當時 交易差額比率
  date_time_amt_diff = data.groupby(['date_time_cust_id','debit_credit'])['tx_amt'].sum().reset_index()
  date_time_amt_diff = pd.pivot_table(date_time_amt_diff, index='date_time_cust_id', columns='debit_credit', values='tx_amt')
  date_time_amt_diff.fillna(1, inplace=True)
  date_time_amt_diff['date_time_amt_diff_ratio'] = \
  abs(date_time_amt_diff['CR'] - date_time_amt_diff['DB']) / abs(date_time_amt_diff['CR'] + date_time_amt_diff['DB'])
  date_time_amt_diff = date_time_amt_diff.reset_index()[['date_time_cust_id','date_time_amt_diff_ratio']]
  data = data.merge(date_time_amt_diff, on=['date_time_cust_id'], how='left')
  #當時交易筆數 tx_cnt_date_time
  tx_cnt_date_time = data.groupby(['cust_id','tx_date','tx_time'])['debit_credit'].count().reset_index()
  tx_cnt_date_time.rename(columns={'debit_credit':'tx_cnt_date_time'}, inplace=True)
  data = data.merge(tx_cnt_date_time, on=['cust_id','tx_date','tx_time'], how='left')
  #當日交易筆數 tx_cnt_date
  tx_cnt_date = data.groupby(['cust_id','tx_date'])['debit_credit'].count().reset_index()
  tx_cnt_date.rename(columns={'debit_credit':'tx_cnt_date'}, inplace=True)
  data = data.merge(tx_cnt_date, on=['cust_id','tx_date'], how='left')
  #當時總分行數 txbranch_day_cnt
  txbranch_day_time_cnt = data.groupby(['cust_id','tx_date','tx_time'])['txbranch'].count().reset_index()
  txbranch_day_time_cnt.rename(columns={'txbranch':'txbranch_day_time_cnt'}, inplace=True)
  data = data.merge(txbranch_day_time_cnt, on=['cust_id','tx_date','tx_time'], how='left')
  #單日總分行數 txbranch_day_cnt
  txbranch_day_cnt = data.groupby(['cust_id','tx_date'])['txbranch'].count().reset_index()
  txbranch_day_cnt.rename(columns={'txbranch':'txbranch_day_cnt'}, inplace=True)
  data = data.merge(txbranch_day_cnt, on=['cust_id','tx_date'], how='left')
  #當日ATM 佔交易數比例
  day_atm_txn_ratio = data.groupby(['cust_id','tx_date'])['ATM'].sum().reset_index()
  day_atm_txn_ratio.rename(columns={'ATM':'day_atm_txn_ratio'}, inplace=True)
  data = data.merge(day_atm_txn_ratio, on=['cust_id','tx_date'], how='left')
  data.day_atm_txn_ratio = data.day_atm_txn_ratio / data.tx_cnt_date
  #當時ATM 佔交易數比例
  day_time_atm_txn_ratio = data.groupby(['cust_id','tx_date','tx_time'])['ATM'].sum().reset_index()
  day_time_atm_txn_ratio.rename(columns={'ATM':'day_time_atm_txn_ratio'}, inplace=True)
  data = data.merge(day_time_atm_txn_ratio, on=['cust_id','tx_date','tx_time'], how='left')
  data.day_time_atm_txn_ratio = data.day_time_atm_txn_ratio / data.tx_cnt_date_time
  #當日跨行 佔交易數比例
  day_cross_bank_ratio = data.groupby(['cust_id','tx_date'])['cross_bank'].sum().reset_index()
  day_cross_bank_ratio.rename(columns={'cross_bank':'day_cross_bank_ratio'}, inplace=True)
  data = data.merge(day_cross_bank_ratio, on=['cust_id','tx_date'], how='left')
  data.day_cross_bank_ratio = data.day_cross_bank_ratio / data.tx_cnt_date
  #當時跨行 佔交易數比例
  day_time_cross_bank_ratio = data.groupby(['cust_id','tx_date','tx_time'])['cross_bank'].sum().reset_index()
  day_time_cross_bank_ratio.rename(columns={'cross_bank':'day_time_cross_bank_ratio'}, inplace=True)
  data = data.merge(day_time_cross_bank_ratio, on=['cust_id','tx_date','tx_time'], how='left')
  data.day_time_cross_bank_ratio = data.day_time_cross_bank_ratio / data.tx_cnt_date_time

  ##
  #當session交易筆數 tx_cnt_session
  tx_cnt_session = data.groupby(['session_cust_id'])['debit_credit'].count().reset_index()
  tx_cnt_session.rename(columns={'debit_credit':'tx_cnt_session'}, inplace=True)
  data = data.merge(tx_cnt_session, on=['session_cust_id'], how='left')
  #當session總分行數 txbranch_session_cnt
  txbranch_session_cnt = data.groupby(['session_cust_id'])['txbranch'].count().reset_index()
  txbranch_session_cnt.rename(columns={'txbranch':'txbranch_session_cnt'}, inplace=True)
  data = data.merge(txbranch_session_cnt, on=['session_cust_id'], how='left')
  #當session跨行 佔交易數比例
  session_cross_bank_ratio = data.groupby(['session_cust_id'])['cross_bank'].sum().reset_index()
  session_cross_bank_ratio.rename(columns={'cross_bank':'session_cross_bank_ratio'}, inplace=True)
  data = data.merge(session_cross_bank_ratio, on=['session_cust_id'], how='left')
  data.session_cross_bank_ratio = data.session_cross_bank_ratio / data.tx_cnt_date
  #當sessionATM 佔交易數比例
  session_atm_txn_ratio = data.groupby(['session_cust_id'])['ATM'].sum().reset_index()
  session_atm_txn_ratio.rename(columns={'ATM':'session_atm_txn_ratio'}, inplace=True)
  data = data.merge(session_atm_txn_ratio, on=['session_cust_id'], how='left')
  data.session_atm_txn_ratio = data.session_atm_txn_ratio / data.tx_cnt_date
  #time_diff
  distinct_date_time = data[['cust_id','tx_date','tx_time']].drop_duplicates().sort_values(['cust_id','tx_date','tx_time']).reset_index(drop=True)
  distinct_date_time['date_diff'] = distinct_date_time.groupby('cust_id').apply(lambda x: x['tx_date'] - x['tx_date'].shift(1)).reset_index(drop=True)
  distinct_date_time['time_diff'] = distinct_date_time.groupby('cust_id').apply(lambda x: x['tx_time'] - x['tx_time'].shift(1)).reset_index(drop=True)
  distinct_date_time.fillna(0, inplace=True)
  distinct_date_time['time_diff'] = (distinct_date_time['date_diff']*24) + distinct_date_time['time_diff']
  data = data.merge(distinct_date_time[['cust_id', 'tx_date', 'tx_time', 'time_diff']], on=['cust_id', 'tx_date', 'tx_time'], how='left')

  return data

In [22]:
def model_training_1(data, columns):
  #逐筆交易處理
  Y = data['y']
  X = data[columns[1:-1]]
  test_size = 0.2
  seed = 42
  model = XGBClassifier(
                    base_score= 0.5, 
                booster= 'gbtree', 
                colsample_bylevel= 1, 
                colsample_bynode= 1, 
                colsample_bytree= 1, 
                gamma= 0, 
                learning_rate= 0.03,
                max_delta_step= 0, 
                max_depth= 2, 
                min_child_weight= 1, 
#                 missing= None, 
                n_estimators= 90, 
                nthread= 16, 
                objective= 'binary:logistic', 
                reg_alpha= 0, 
                reg_lambda= 1, 
                scale_pos_weight= 1, 
                seed= 0, 
                subsample= 0.9,
                verbosity= 1
  )
  model.fit(X, Y)
  feature_importance = pd.DataFrame({'columns':list(X.columns),'score':model.feature_importances_})
  return X, model, feature_importance

In [23]:
#彙整model training 1偵測結果
#predict_proba以0.05機率區間為一個欄位判斷分佈
def mapping(proba):
    if proba <= 0.1:
        return 1
    elif 0.1 < proba <= 0.2:
        return 2
    elif 0.2 < proba <= 0.3:
        return 3
    elif 0.3 < proba <= 0.4:
        return 4
    elif 0.4 < proba <= 0.5:
        return 5
    elif 0.5 < proba <= 0.6:
        return 6
    elif 0.6 < proba <= 0.7:
        return 7
    elif 0.7 < proba <= 0.8:
        return 8
    elif 0.8 < proba <= 0.9:
        return 9
    elif 0.9 < proba <= 1:
        return 10
def debit_credit_ratio_func(data):
  #id
  debit_credit_ratio = data.groupby(['cust_id'])['debit_credit'].value_counts().rename('debit_credit_ratio').reset_index()
  debit_credit_ratio = debit_credit_ratio.pivot_table(values='debit_credit_ratio', index=['cust_id'], columns='debit_credit')
  debit_credit_ratio.fillna(0, inplace=True)
  debit_credit_ratio['debit_credit_ratio'] = debit_credit_ratio['DB']/debit_credit_ratio.sum(axis=1)
  debit_credit_ratio = debit_credit_ratio.reset_index()[['cust_id','debit_credit_ratio']]
  data = data.merge(debit_credit_ratio, on=['cust_id'], how='left')
  return debit_credit_ratio
def all_txn_cnt(data):
  all_txn_cnt = data.groupby('cust_id')['tx_date'].count().rename('all_txn_cnt').reset_index()
  data = data.merge(all_txn_cnt, on='cust_id', how='left')
  return all_txn_cnt
def result_preprocess_func(data, X, model):
  data_db_cr_ratio = debit_credit_ratio_func(data)
  data_all_txn_cnt = all_txn_cnt(data)
  data['proba'] = model.predict_proba(X)[:,1]
  result = data[['cust_id','proba','y']]
  result['level'] = result["proba"].map(mapping)
  result = result[['cust_id', 'level', 'y']]
  result = result.groupby(['cust_id','level']).count().reset_index().pivot_table(index='cust_id', columns='level', values='y')
  result.fillna(0, inplace=True)
  result = result.div(result.sum(axis=1), axis=0).reset_index()
  for col in list(set([num for num in range(1,11,1)]) -  set(result.columns[1:])):
    result[col] = 0.0
  result = result[['cust_id', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]
  result = result.merge(data[['cust_id','y']].drop_duplicates(), on='cust_id', how='left')
  result = result.merge(data_db_cr_ratio, on='cust_id', how='left')
  result = result.merge(data_all_txn_cnt, on='cust_id', how='left')
  return result

In [24]:
model1 = XGBClassifier(
                        base_score= 0.5, 
                        booster= 'gbtree', 
                        colsample_bylevel= 1, 
                        colsample_bynode= 1, 
                        colsample_bytree= 1, 
                        gamma= 0, 
                        learning_rate= 0.05,
                        max_delta_step= 0, 
                        max_depth= 3, 
                        min_child_weight= 1, 
                        n_estimators=200, 
                        nthread= 16, 
                        objective= 'binary:logistic', 
                        reg_alpha= 0.1, 
                        reg_lambda= 2, 
                        scale_pos_weight= 1, 
                        seed= 0, 
                        subsample= 1,
                        verbosity= 1
                  )
model2 = lgb.LGBMClassifier(learning_rate = 0.1
                             , max_depth=3
                             , reg_lambda=0
                             , n_estimators=100
                             , reg_alpha=0.01)
model3 = nb.NGBClassifier(
          n_estimators = 500
        , Base = DecisionTreeRegressor(criterion='friedman_mse', max_depth=4)
        , learning_rate = 0.1
  )

model4 = cb.CatBoostClassifier(
                            learning_rate = 0.5
                             , max_depth=3
                             , reg_lambda=2
                             , n_estimators=150
#                              , reg_alpha=0.01
                             , subsample = 1, verbose= 0
  )

model5 = GradientBoostingClassifier(
                learning_rate= 0.2,
                max_depth= 2, 
                n_estimators=100, subsample=1, random_state = 0)

model6 = HistGradientBoostingClassifier(                
              learning_rate= 0.05,
                max_depth= 3, 
#                 missing= None, 
                max_iter=200)

In [25]:
#model training 2
#歸戶判斷是否報SAR
def model_training_2(result):
    result_col = list(result.columns)
    result_col.remove('cust_id')
    result_col.remove('y')
    test_size = 0.2
    seed = 42
#     X_train, X_test, y_train, y_test = train_test_split(result[result_col], result['y'], test_size=test_size, random_state=seed)#, stratify = result['y'])
    estimators = [
        ('xgb', model1),
        ('lgbm', model2),
         ('nb', model3),
         ('cat', model4),
          ('gd', model5),
        ('hgbm', model6)
    ]
    
    model1.fit(result[result_col], result['y'])
    model2.fit(result[result_col], result['y'])
    model3.fit(result[result_col], result['y'])
    model4.fit(result[result_col], result['y'])
    model5.fit(result[result_col], result['y'])
    model6.fit(result[result_col], result['y'])
    
    model = [model1, model2, model3, model4, model5, model6]
    
    
    return model, result_col

In [26]:
def alert_output(alert, model_1, model_2, alert_col, result_col, doc):
  data_db_cr_ratio = debit_credit_ratio_func(alert)
  data_all_txn_cnt = all_txn_cnt(alert)

  #Remit Submission
  alert_data = alert
  alert_data['proba'] = model_1.predict_proba(alert[alert_col])[:,1]
  alert_result = alert_data[['cust_id','proba']]
  alert_result['level'] = alert_result["proba"].map(mapping)
  alert_result = alert_result[['cust_id', 'level']]
  alert_result['cnt'] = 1
  alert_result = alert_result.groupby(['cust_id','level'])['cnt'].count().reset_index().pivot_table(index='cust_id', columns='level', values='cnt')
  alert_result.fillna(0, inplace=True)
  alert_result = alert_result.div(alert_result.sum(axis=1), axis=0)
  alert_result = alert_result.reset_index()
  for col in list(set([num for num in range(1,11,1)]) -  set(alert_result.columns[1:])):
    alert_result[col] = 0.0
  alert_result = alert_result.merge(data_db_cr_ratio, on='cust_id', how='left')
  alert_result = alert_result.merge(data_all_txn_cnt, on='cust_id', how='left')
  result_col = [str(i) for i in result_col]
  alert_result.columns = [str(i) for i in alert_result.columns]
  final_answer = pd.DataFrame(doc[['alert_key']])
  for model in model_2:
      alert_pred = model.predict_proba(alert_result[result_col])
      # evaluate predictions
      alert_result_cust_id = alert_result[['cust_id']]
      alert_result_cust_id['probability'] = alert_pred[:,1]

      final = predict_alert_time.merge(custinfo[['alert_key', 'cust_id']].merge(alert_result_cust_id, on='cust_id'), on='alert_key', how='left')[['alert_key', 'probability']]
      doc = doc[['alert_key']]
      final = doc.merge(final, on='alert_key', how='left')
      final.fillna(0,inplace=True)
      final.loc[final[final['alert_key'].isin(prev_list)].index,'probability']=0
      final_answer = final_answer.merge(final, on='alert_key', how='left')
  final_answer.columns = ['alert_key', 'probability1', 'probability2', 'probability3', 'probability4', 'probability5', 'probability6']
  return final_answer, alert_result

In [27]:
def prev_7d_feature_func(data):
  #last 7 days processing
  data_distinct = data[['cust_id', 'tx_date_formal','tx_date']].drop_duplicates().reset_index(drop=True)
  cross_bank_sum = data.groupby(['cust_id','tx_date_formal'])['cross_bank'].sum().rename('cross_bank_sum').reset_index()
  prev_7d_data = data_distinct.merge(cross_bank_sum, on=['cust_id','tx_date_formal'], how='left')
  dbcr_amt_sum = data.groupby(['cust_id','tx_date_formal','debit_credit'])['tx_amt'].sum().rename('debit_credit_sum').reset_index()
  dbcr_amt_sum = pd.pivot_table(dbcr_amt_sum, index=['cust_id','tx_date_formal'], columns='debit_credit', values='debit_credit_sum')
  prev_7d_data = prev_7d_data.merge(dbcr_amt_sum, on=['cust_id','tx_date_formal'], how='left')
  tx_date_sum = data.groupby(['cust_id','tx_date_formal'])['tx_amt'].sum().rename('tx_amt_sum')
  prev_7d_data = prev_7d_data.merge(tx_date_sum, on=['cust_id','tx_date_formal'], how='left')
  tx_cnt = data.groupby(['cust_id','tx_date_formal'])['tx_amt'].count().rename('tx_cnt').reset_index()
  prev_7d_data = prev_7d_data.merge(tx_cnt, on=['cust_id','tx_date_formal'], how='left')
  #當日ATM 佔交易數比例
  day_atm_cnt = data.groupby(['cust_id','tx_date_formal'])['ATM'].sum().rename('day_atm_cnt').reset_index()
  prev_7d_data = prev_7d_data.merge(day_atm_cnt, on=['cust_id','tx_date_formal'], how='left')
  txbranch_day_cnt = data.groupby(['cust_id','tx_date_formal'])['txbranch'].count().rename('txbranch_day_cnt').reset_index()
  prev_7d_data = prev_7d_data.merge(txbranch_day_cnt, on=['cust_id','tx_date_formal'], how='left')
  prev_7d_data.fillna(0, inplace=True)
  prev_7d_data = prev_7d_data.sort_values(['cust_id','tx_date_formal'])
  prev_7d_data = prev_7d_data.set_index('tx_date_formal')
  #feature engineering
  prev_7d_cross_bank_sum = prev_7d_data.groupby('cust_id')['cross_bank_sum'].rolling(window='7D').sum().rename('prev_7d_cross_bank_sum').reset_index()
  prev_7d_CR_sum = prev_7d_data.groupby('cust_id')['CR'].rolling(window='7D').sum().rename('prev_7d_CR_sum').reset_index()
  prev_7d_DB_sum = prev_7d_data.groupby('cust_id')['DB'].rolling(window='7D').sum().rename('prev_7d_DB_sum').reset_index()
  prev_7d_tx_cnt = prev_7d_data.groupby('cust_id')['tx_cnt'].rolling(window='7D').sum().rename('prev_7d_tx_cnt').reset_index()
  prev_7d_txbranch_cnt = prev_7d_data.groupby('cust_id')['txbranch_day_cnt'].rolling(window='7D').sum().rename('prev_7d_txbranch_cnt').reset_index()
  prev_7d_atm_cnt = prev_7d_data.groupby('cust_id')['day_atm_cnt'].rolling(window='7D').sum().rename('prev_7d_atm_cnt').reset_index()

  data_distinct = data_distinct.merge(prev_7d_CR_sum, on=['cust_id','tx_date_formal']).merge(prev_7d_DB_sum, on=['cust_id','tx_date_formal'])\
    .merge(prev_7d_tx_cnt, on=['cust_id','tx_date_formal']).merge(prev_7d_txbranch_cnt, on=['cust_id','tx_date_formal']).merge(prev_7d_atm_cnt, on=['cust_id','tx_date_formal'])\
    .merge(prev_7d_cross_bank_sum, on=['cust_id','tx_date_formal'])

  data_distinct['prev_7d_txbranch_ratio'] = data_distinct.prev_7d_txbranch_cnt / data_distinct.prev_7d_tx_cnt
  data_distinct['prev_7d_atm_ratio'] = data_distinct.prev_7d_atm_cnt / data_distinct.prev_7d_tx_cnt
  data_distinct['prev_7d_cross_bank_ratio'] = data_distinct.prev_7d_cross_bank_sum / data_distinct.prev_7d_tx_cnt
  data_distinct['prev7d_amt_diff_ratio'] = \
    abs(data_distinct['prev_7d_CR_sum'] - data_distinct['prev_7d_DB_sum']) / abs(data_distinct['prev_7d_CR_sum'] + data_distinct['prev_7d_DB_sum'])
  data_distinct = data_distinct[['cust_id','tx_date','prev_7d_tx_cnt','prev7d_amt_diff_ratio','prev_7d_txbranch_ratio','prev_7d_atm_cnt','prev_7d_atm_ratio',
                                 'prev_7d_txbranch_cnt','prev_7d_cross_bank_ratio','prev_7d_cross_bank_sum']]
  data = data.merge(data_distinct, on=['cust_id', 'tx_date'], how='left')
  return data, data_distinct

In [28]:
import warnings
warnings.filterwarnings('ignore')

In [29]:
train_dp, alert_dp = train_alert_process_func(dp, custinfo,train_alert_time, predict_alert_time)
train_dp = train_prev_d(train_dp, 30)
alert_dp = train_prev_d(alert_dp, 30)
train_dp = preprocess(train_dp)
alert_dp = preprocess(alert_dp)

In [30]:
train_dp

,cust_id,debit_credit,tx_date,tx_time,tx_type,tx_amt,exchg_rate,info_asset_code,fiscTxId,txbranch,cross_bank,ATM,y,tx_date_group,session_cust_id,date_cust_id,date_time_cust_id,tx_year,tx_date_formal
74,0172056578071e83399216fcd640bdc4de4583149d0fd9...,CR,378,12,2,466029.0,1.000,16,NaN,NaN,0,0,0,54,540172056578071e83399216fcd640bdc4de4583149d0f...,3780172056578071e83399216fcd640bdc4de4583149d0...,3783780172056578071e83399216fcd640bdc4de458314...,2022,2022-01-14
75,0172056578071e83399216fcd640bdc4de4583149d0fd9...,CR,389,13,2,8935.0,1.000,16,NaN,NaN,0,0,0,55,550172056578071e83399216fcd640bdc4de4583149d0f...,3890172056578071e83399216fcd640bdc4de4583149d0...,3893890172056578071e83399216fcd640bdc4de458314...,2022,2022-01-25
76,0172056578071e83399216fcd640bdc4de4583149d0fd9...,CR,370,14,2,6570.0,1.000,16,NaN,NaN,0,0,0,52,520172056578071e83399216fcd640bdc4de4583149d0f...,3700172056578071e83399216fcd640bdc4de4583149d0...,3703700172056578071e83399216fcd640bdc4de458314...,2022,2022-01-06
77,0172056578071e83399216fcd640bdc4de4583149d0fd9...,CR,372,12,2,6235.0,1.000,16,NaN,NaN,0,0,0,53,530172056578071e83399216fcd640bdc4de4583149d0f...,3720172056578071e83399216fcd640bdc4de4583149d0...,3723720172056578071e83399216fcd640bdc4de458314...,2022,2022-01-08
78,0172056578071e83399216fcd640bdc4de4583149d0fd9...,CR,370,14,2,8935.0,1.000,16,NaN,NaN,0,0,0,52,520172056578071e83399216fcd640bdc4de4583149d0f...,3700172056578071e83399216fcd640bdc4de4583149d0...,3703700172056578071e83399216fcd640bdc4de458314...,2022,2022-01-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1998862,ff483c74ef2977bfcf04be0a79363af72d1812aac9ce1f...,CR,397,10,2,7302.0,4.452,20,NaN,NaN,0,1,0,56,56ff483c74ef2977bfcf04be0a79363af72d1812aac9ce...,397ff483c74ef2977bfcf04be0a79363af72d1812aac9c...,397397ff483c74ef2977bfcf04be0a79363af72d1812aa...,2022,2022-02-02
1998863,ff483c74ef2977bfcf04be0a79363af72d1812aac9ce1f...,CR,397,9,2,1043.0,4.436,20,NaN,NaN,0,1,0,56,56ff483c74ef2977bfcf04be0a79363af72d1812aac9ce...,397ff483c74ef2977bfcf04be0a79363af72d1812aac9c...,397397ff483c74ef2977bfcf04be0a79363af72d1812aa...,2022,2022-02-02
1998864,ff483c74ef2977bfcf04be0a79363af72d1812aac9ce1f...,CR,397,12,2,522.0,4.447,20,NaN,NaN,0,1,0,56,56ff483c74ef2977bfcf04be0a79363af72d1812aac9ce...,397ff483c74ef2977bfcf04be0a79363af72d1812aac9c...,397397ff483c74ef2977bfcf04be0a79363af72d1812aa...,2022,2022-02-02
1998865,ff483c74ef2977bfcf04be0a79363af72d1812aac9ce1f...,CR,397,9,2,1043.0,4.452,20,NaN,NaN,0,1,0,56,56ff483c74ef2977bfcf04be0a79363af72d1812aac9ce...,397ff483c74ef2977bfcf04be0a79363af72d1812aac9c...,397397ff483c74ef2977bfcf04be0a79363af72d1812aa...,2022,2022-02-02
1998866,ff483c74ef2977bfcf04be0a79363af72d1812aac9ce1f...,DB,397,12,2,835.0,4.447,20,NaN,NaN,0,1,0,56,56ff483c74ef2977bfcf04be0a79363af72d1812aac9ce...,397ff483c74ef2977bfcf04be0a79363af72d1812aac9c...,397397ff483c74ef2977bfcf04be0a79363af72d1812aa...,2022,2022-02-02

In [31]:
alert_dp

,cust_id,debit_credit,tx_date,tx_time,tx_type,tx_amt,exchg_rate,info_asset_code,fiscTxId,txbranch,cross_bank,ATM,tx_date_group,session_cust_id,date_cust_id,date_time_cust_id,tx_year,tx_date_formal
135233,035e2ebcd5c23f4dd0f1fc81a1fca8afd3121f7431bb58...,DB,393,11,2,26547.0,1.0,12,NaN,NaN,0,0,56,56035e2ebcd5c23f4dd0f1fc81a1fca8afd3121f7431bb...,393035e2ebcd5c23f4dd0f1fc81a1fca8afd3121f7431b...,393393035e2ebcd5c23f4dd0f1fc81a1fca8afd3121f74...,2022,2022-01-29
137274,08d2b4ae3c03515cac79354b8f30e3287a8d427f8af2d6...,DB,327,11,2,47816.0,1.0,13,4.0,0.0,0,1,46,4608d2b4ae3c03515cac79354b8f30e3287a8d427f8af2...,32708d2b4ae3c03515cac79354b8f30e3287a8d427f8af...,32732708d2b4ae3c03515cac79354b8f30e3287a8d427f...,2021,2021-11-24
137282,08d2b4ae3c03515cac79354b8f30e3287a8d427f8af2d6...,DB,325,10,2,5185.0,1.0,13,4.0,0.0,0,1,46,4608d2b4ae3c03515cac79354b8f30e3287a8d427f8af2...,32508d2b4ae3c03515cac79354b8f30e3287a8d427f8af...,32532508d2b4ae3c03515cac79354b8f30e3287a8d427f...,2021,2021-11-22
137285,08d2b4ae3c03515cac79354b8f30e3287a8d427f8af2d6...,CR,327,0,2,31382.0,1.0,13,22.0,0.0,0,1,46,4608d2b4ae3c03515cac79354b8f30e3287a8d427f8af2...,32708d2b4ae3c03515cac79354b8f30e3287a8d427f8af...,32732708d2b4ae3c03515cac79354b8f30e3287a8d427f...,2021,2021-11-24
137349,08d2b4ae3c03515cac79354b8f30e3287a8d427f8af2d6...,DB,348,9,2,31174.0,1.0,13,4.0,0.0,0,1,49,4908d2b4ae3c03515cac79354b8f30e3287a8d427f8af2...,34808d2b4ae3c03515cac79354b8f30e3287a8d427f8af...,34834808d2b4ae3c03515cac79354b8f30e3287a8d427f...,2021,2021-12-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404086,ffb6411051b1d6455844d4c2b21d352df6cc735a882e79...,DB,413,14,2,1031.0,1.0,16,NaN,NaN,0,0,59,59ffb6411051b1d6455844d4c2b21d352df6cc735a882e...,413ffb6411051b1d6455844d4c2b21d352df6cc735a882...,413413ffb6411051b1d6455844d4c2b21d352df6cc735a...,2022,2022-02-18
404087,ffb6411051b1d6455844d4c2b21d352df6cc735a882e79...,DB,413,14,2,1031.0,1.0,16,NaN,NaN,0,0,59,59ffb6411051b1d6455844d4c2b21d352df6cc735a882e...,413ffb6411051b1d6455844d4c2b21d352df6cc735a882...,413413ffb6411051b1d6455844d4c2b21d352df6cc735a...,2022,2022-02-18
404088,ffb6411051b1d6455844d4c2b21d352df6cc735a882e79...,DB,412,9,2,515.0,1.0,13,4.0,0.0,0,1,58,58ffb6411051b1d6455844d4c2b21d352df6cc735a882e...,412ffb6411051b1d6455844d4c2b21d352df6cc735a882...,412412ffb6411051b1d6455844d4c2b21d352df6cc735a...,2022,2022-02-17
404089,ffb6411051b1d6455844d4c2b21d352df6cc735a882e79...,DB,411,13,2,40.0,1.0,13,4.0,0.0,0,1,58,58ffb6411051b1d6455844d4c2b21d352df6cc735a882e...,411ffb6411051b1d6455844d4c2b21d352df6cc735a882...,411411ffb6411051b1d6455844d4c2b21d352df6cc735a...,2022,2022-02-16
404090,ffb6411051b1d6455844d4c2b21d352df6cc735a882e79...,DB,412,9,2,1031.0,1.0,13,4.0,0.0,0,1,58,58ffb6411051b1d6455844d4c2b21d352df6cc735a882e...,412ffb6411051b1d6455844d4c2b21d352df6cc735a882...,412412ffb6411051b1d6455844d4c2b21d352df6cc735a...,2022,2022-02-17

In [32]:
#dp zone
train_dp, alert_dp = train_alert_process_func(dp, custinfo,train_alert_time, predict_alert_time)
train_dp = train_prev_d(train_dp, 30)
alert_dp = train_prev_d(alert_dp, 30)
train_dp = preprocess(train_dp)
alert_dp = preprocess(alert_dp)
##

train_dp, train_dp_distinct = prev_7d_feature_func(train_dp)
alert_dp, alert_dp_distinct = prev_7d_feature_func(alert_dp)
##
train_dp = dp_feature_func(train_dp)
alert_dp = dp_feature_func(alert_dp)

dp_col = ['cust_id','session_amt_diff_ratio', 
          'date_time_amt_diff_ratio','tx_cnt_date_time','txbranch_day_time_cnt', 'day_time_atm_txn_ratio','day_time_cross_bank_ratio',
          'date_amt_diff_ratio','tx_cnt_date','txbranch_day_cnt','day_atm_txn_ratio','day_cross_bank_ratio',#(version : original)
          'time_diff',
          'y']
dp_X, dp_model_1, dp_feature_importance = model_training_1(train_dp, dp_col)
dp_result = result_preprocess_func(train_dp, dp_X, dp_model_1)
dp_col.remove('y')
dp_col.remove('cust_id')


dp_model_2, dp_result_col = model_training_2(dp_result)

dp_final, alert_dp_result = alert_output(alert_dp, dp_model_1, dp_model_2, dp_col, dp_result_col, doc)

[iter 0] loss=0.1644 val_loss=0.0000 scale=0.5000 norm=1.0000
[iter 100] loss=0.1222 val_loss=0.0000 scale=0.0002 norm=0.0004
[iter 200] loss=0.1222 val_loss=0.0000 scale=0.0002 norm=0.0004
[iter 300] loss=0.1222 val_loss=0.0000 scale=0.0002 norm=0.0004
[iter 400] loss=0.1222 val_loss=0.0000 scale=0.0002 norm=0.0004

In [33]:
dp_final

,alert_key,probability1,probability2,probability3,probability4,probability5,probability6
0,357307,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,376329,0.012224,0.014540,0.009969,0.010646,0.016086,0.012454
2,373644,0.037895,0.035356,0.019084,0.029744,0.030892,0.029842
3,357668,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,354443,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...
3845,364485,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3846,363155,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3847,368710,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3848,358067,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3849,372119,0.070184,0.074285,0.012333,0.165878,0.067103,0.072585

In [45]:
dp_final[dp_final.alert_key == 372119]

,alert_key,probability1,probability2,probability3,probability4,probability5,probability6,probability
3849,372119,0.070184,0.074285,0.012333,0.165878,0.067103,0.072585,0.070184

In [35]:
def validation(prediction, answer):
  num = answer[answer['sar_flag']==1].shape[0] - 1
  check = prediction.merge(answer).sort_values('probability', ascending=False).reset_index(drop=True)
  alert_key = check[check['sar_flag']==1].reset_index(drop=True).loc[answer[answer['sar_flag']==1].shape[0]-2,'alert_key']
  return num/check[check['alert_key']==alert_key].index[0]

In [36]:
def alert_key_fill_value(dp_final, custinfo, predict_alert_time, value = 0.1):
  test = dp_final.merge(custinfo.merge(predict_alert_time)[['alert_key','cust_id','date']], how='left').sort_values(['cust_id','date'],ascending=False)
  test = test[~test['cust_id'].isnull()]
  test_level = test.merge(test[['cust_id','date']].drop_duplicates().groupby('cust_id').apply(lambda x: x['date'].reset_index(drop=True)).reset_index(), how='left')
  test_max = test.merge(test.groupby(['cust_id'])['date'].max().rename('test_max').reset_index().drop_duplicates()).drop_duplicates()
  idx = (test_max['date'] == test_max['test_max'])
  test_max = test_max.loc[idx[idx].index][['cust_id','probability']].rename(columns={'probability':'max_probability'})
  dp_final = test_level.merge(test_max.drop_duplicates())
  dp_final['probability'] = dp_final['probability']*(value**dp_final['level_1'])
  dp_final = dp_final[['alert_key', 'probability']]
  return dp_final

In [37]:
dp_final['probability'] = dp_final[['probability1', 'probability2', 'probability4', 'probability6']].min(axis=1)

In [44]:
dp_final[dp_final.alert_key == 376329]

,alert_key,probability1,probability2,probability3,probability4,probability5,probability6,probability
1,376329,0.012224,0.01454,0.009969,0.010646,0.016086,0.012454,0.010646

In [46]:
dp_final2 = alert_key_fill_value(dp_final, custinfo, predict_alert_time, value = 0.1)

In [47]:
dp_final2

      alert_key  probability
0        373675     0.025536
1        373446     0.000000
2        378101     0.024878
3        376116     0.000000
4        373991     0.000000
...         ...          ...
2000     376657     0.011678
2001     371960     0.022206
2002     367378     0.000000
2003     369160     0.031339
2004     368061     0.000000

[2005 rows x 2 columns]

In [48]:
dp_final2.to_csv('private.csv')

In [ ]:
`